header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
     
}
ul{
    display: flex;
    gap: 12px;

}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
.img1{
    width: 300px;
    height: 100px ;
    margin-top: 4px ;
}
.main{
    display: flex;
    flex-direction: column;
}
.div1{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.img2{
    width: 80px;
}
.p1{
    color: rgb(20, 145, 20);
    font-size:30px ;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.div2-1{
width: 410px;
}
.div2-2{
    width: 410px;
}
.p2{
    color: grey;
}