header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
     
}
ul{
    display: flex;
    gap: 12px;

}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
li a:hover{
    color: aquamarine;
}
.img1{
    width: 300px;
    height: 100px ;
    margin-top: 4px ;
}
.main{
    display: flex;
    flex-direction: column;
}
.div1{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.img2{
    width: 80px;
}
.p1{
    color: rgb(106, 236, 193);
    font-size:30px ;
}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.div2-1{
width: 410px;
}
.div2-2{
    width: 410px;
}
.p2{
    color: grey;
}
.div3{
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.div3-1{
    background-color: rgb(106, 236, 193);
    width: 280px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(106, 236, 193);
    

}
.p3{
    width:220px ;
    font-size: 21px;
    color: azure;
    margin-bottom: 20px;
  
   
    
}
.h2{
    color: azure;
    margin-right: 90px;
    margin-top: 30px;
   
   
   
   
}

.select {
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(106, 236, 193) ;
    color: azure;
    margin-right: 120px;
    margin-top: 40px;
  
}
.div3-1 i{
    color: azure;
    margin-top: 20px;
}
.div3-2{
    background-color:rgb(41, 113, 247);
    width: 280px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 1px rgb(41, 113, 247);
    

}
.p3{
    width:220px ;
    font-size: 21px;
    color: azure;
    margin-bottom: 20px;
  
   
    
}
.h2{
    color: azure;
    margin-right: 90px;
    margin-top: 30px;
   
   
   
   
}

.select1 {
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(41, 113, 247) ;
    color: azure;
    margin-right: 120px;
    margin-top: 40px;
  
}
.div3-2 i{
    color: azure;
    margin-top: 20px;
}
.div3-3{
    background-color:black;
    width: 280px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
    

}
.p3{
    width:220px ;
    font-size: 21px;
    color: azure;
    margin-bottom: 20px;
  
   
    
}
.h2{
    color: azure;
    margin-right: 90px;
    margin-top: 30px;
   
   
   
   
}

.select2 {
    font-size: 14px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black ;
    color: azure;
    margin-right: 120px;
    margin-top: 40px;
  
}
.div3-3 i{
    color: azure;
    margin-top: 20px;
}
.div4{
display: flex;
align-items: center ;
justify-content:center;
gap: 50px;

}
.ul1{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.div4-2{
width: 700px;
}
.div4-1{
    width: 200px;
    gap: 10px;
}
.div4-1 p{
    font-size: 30px;
    color:rgb(106, 236, 193)  ;
}
.section4{
    display: flex;
    align-items: center;
    
   background-color: rgb(212, 253, 253);
    height: 440px;
}
.section4 img{
   
    width: 350px;
   
}
.div5{

    width: 470px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}
.div5 h1{
width: 390px;
font-size: 32px;
color: aquamarine;
}
.div5 p{
    width: 390px;
    color: grey;
}
.div6{
   
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 100px;
    
    
}
.div6-1{
    background-color:white;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}
.div6-2{
    background-color:white;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}
.div7{
   
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
}
.div7-1{
    background-color:white;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}
.div7-2{
    background-color:white;
    width: 200px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}